:root {
  --stone: #272525;
  --paper: #fffcf8;
  --highlight: rgb(255, 217, 0);
  --periwinkle: #c2d5f1;
  --lilac: #d6cffb;
  --sunflower: #fdefa1;
}
@font-face {
  font-family: "Roobert";
  src: url("fonts/Roobert-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Tobias";
  src: url("fonts/Tobias-Light.woff2") format("woff2");
}

body {
  font-family: "Roobert", Helvetica, sans-serif;
  color: var(--stone);
}

a {
  font-size: 20px;
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-size: 72px;
  font-weight: 500;
}

em {
  font-style: normal;
  font-weight: 600;
}

h2 {
  z-index: -1;
}

footer {
  margin-top: 80px;
}

.top {
  height: 100vh;
  background: radial-gradient(
      30% 40% at 50% 30%,
      var(--periwinkle) 0%,
      transparent
    ),
    radial-gradient(20% 40% at 30% 55%, var(--lilac) 0%, transparent),
    radial-gradient(30% 40% at 55% 55%, var(--sunflower) 0%, transparent);
  background-position: center center;
}

.who {
  padding: 40px;
  margin-top: 40px;
}

.display {
  font-family: "Tobias";
  font-weight: 200;
}

.logo {
  max-width: 40px;
  margin: 40px;
}

.space {
  display: flex;
  max-width: 1440px;
  margin-right: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-link {
  color: inherit;
}

.nav-link:hover {
  color: inherit;
  text-decoration: underline;
}

.splash {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
.heights {
  height: 3000px;
  background-color: red;
}

/* Animate-in */

#name,
#city,
#objective,
#results-2 {
  opacity: 0;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
  animation-fill-mode: forwards;
}

#name {
  animation-delay: 300ms;
}
#city {
  animation-delay: 600ms;
}
#objective {
  animation-delay: 900ms;
}
#results-2 {
  animation-delay: 12000ms;
}

#intro,
#role,
#summary,
#results-1 {
  opacity: 0;
  -webkit-animation: fadein 1500ms; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1500ms; /* Firefox < 16 */
  -ms-animation: fadein 1500ms; /* Internet Explorer */
  -o-animation: fadein 1500ms; /* Opera < 12.1 */
  animation: fadein 1500ms;
  animation-delay: 1500ms;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive media queries */

@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 50px;
    margin: 10px;
  }
  .logo {
    width: 30px;
    margin: 40px;
  }
  .who {
    padding: 20px;
    margin-top: 24px;
  }
  .top {
    background: radial-gradient(
        35% 35% at 40% 40%,
        var(--periwinkle) 0%,
        transparent
      ),
      radial-gradient(30% 20% at 40% 65%, var(--lilac) 0%, transparent),
      radial-gradient(30% 20% at 60% 50%, var(--sunflower) 0%, transparent);
  }
}

@media (max-width: 425px) {
  h1,
  h2 {
    font-size: 30px;
    margin: 5px;
  }

  .logo {
    width: 30px;
    margin: 20px;
  }

  .who {
    padding: 20px;
    margin-top: 38px;
  }
  .top {
    background: radial-gradient(
        40% 25% at 50% 40%,
        var(--periwinkle) 0%,
        transparent
      ),
      radial-gradient(40% 25% at 30% 65%, var(--lilac) 0%, transparent),
      radial-gradient(40% 25% at 70% 65%, var(--sunflower) 0%, transparent);
  }
}
