:root {
  --stone: #272525;
  --stone-free: #555050;
  --paper: #fffcf8;
  --highlight: rgb(255, 217, 0);
  --periwinkle: #c2d5f1;
  --pink: #ffbeeb;
  --sunflower: #fdefa1;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}
body {
  font-family: "Roobert", Helvetica, sans-serif;
  color: var(--stone);
}
em {
  font-family: "Roobert", Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Roobert";
  src: url("fonts/Roobert-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Tobias";
  src: url("fonts/Tobias-Light.woff2") format("woff2");
}
i {
  margin-right: 10px;
}
h1,
h2 {
  font-size: 72px;
}
h3 {
  font-size: 48px;
}

.about-me {
  display: flex;
  justify-content: center;
}
.about-body {
  font-size: large;
}
.about-title {
  font-size: 48px;
}
.about-me-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}
.about-space {
  width: 100px;
  height: 100px;
}

.about-profile-pic {
  padding: 20px;
  width: 100%;
}
#background {
  height: 100vh;
  background: radial-gradient(
      30% 40% at 50% 30%,
      var(--periwinkle) 0%,
      transparent
    ),
    radial-gradient(20% 40% at 30% 55%, var(--pink) 0%, transparent),
    radial-gradient(30% 40% at 55% 55%, var(--sunflower) 0%, transparent);
  background-position: center center;
}
.bg {
  background-color: pink;
}
.contact {
  position: relative;
  height: 500px;
  padding: 40px;
  margin-top: 40px;
}
.contact-details {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100px;
}
.contact-link {
  font-size: 20px;
  margin-top: 20px;
  padding: 5px;
}
.display-font {
  font-family: "Tobias";
}
.em-2 {
  font-family: "Roobert", Helvetica, sans-serif;
  font-style: normal;
}
.em-2:hover {
  padding-bottom: 2px;
  border-bottom: 1px solid black;
}
.logo {
  max-width: 40px;
  margin: 40px;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-link {
  color: inherit;
}

.nav-link:hover {
  color: inherit;
}
.work-writing-etc {
  position: relative;
  height: 1000px;
}

.w-w-e-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 500px;
}

.sub-section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.section-title {
  font-family: "Tobias";
  font-weight: 600;
}

.space {
  display: flex;
  max-width: 1440px;
  margin-right: auto;
}

.who {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* Animate-in */

#name,
#city,
#objective,
#results-2 {
  opacity: 0;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
  animation-fill-mode: forwards;
}

#name {
  animation-delay: 400ms;
}
#city {
  animation-delay: 800ms;
}
#objective {
  animation-delay: 1200ms;
}
#results-2 {
  animation-delay: 16000ms;
}

#intro,
#role,
#summary,
#results-1 {
  opacity: 0;
  -webkit-animation: fadein 2000ms; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2000ms; /* Firefox < 16 */
  -ms-animation: fadein 2000ms; /* Internet Explorer */
  -o-animation: fadein 2000ms; /* Opera < 12.1 */
  animation: fadein 2000ms;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive media queries */

@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 32px;
  }
  .about-me-content {
    padding: 30px;
  }
  .logo {
    width: 30px;
    margin: 40px;
  }
  .who {
    margin-top: 24px;
  }
  #background {
    background: radial-gradient(
        35% 35% at 40% 40%,
        var(--periwinkle) 0%,
        transparent
      ),
      radial-gradient(30% 20% at 40% 65%, var(--pink) 0%, transparent),
      radial-gradient(30% 20% at 60% 50%, var(--sunflower) 0%, transparent);
  }
}

@media (max-width: 425px) {
  h1,
  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
  }

  .contact {
    height: 400px;
    padding: 20px;
    margin-top: 20px;
  }
  .work-writing-etc {
    height: 600px;
  }

  .logo {
    width: 30px;
    margin: 20px;
  }

  .who {
    margin-top: 38px;
  }
  #background {
    background: radial-gradient(
        50% 25% at 50% 40%,
        var(--periwinkle) 0%,
        transparent
      ),
      radial-gradient(50% 25% at 33% 66%, var(--pink) 0%, transparent),
      radial-gradient(50% 25% at 66% 66%, var(--sunflower) 0%, transparent);
  }
  .home {
    display: none;
  }
}
