:root {
  --stone: #272525;
  --paper: #fffcf8;
  --highlight: rgb(255, 217, 0);
}
@font-face {
  font-family: "Roobert";
  src: url("fonts/Roobert-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Tobias";
  src: url("fonts/Tobias-Light.woff2") format("woff2");
}

body {
  font-family: "Roobert", Helvetica, sans-serif;
  color: var(--stone);
}

a {
  font-size: 20px;
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-size: 64px;
  font-weight: 500;
}

em {
  font-style: normal;
  font-weight: 600;
}

h2 {
  z-index: -1;
}

.top {
  height: 100vh;
  background: radial-gradient(30% 40% at 50% 40%, #a4bbde 0%, transparent),
    radial-gradient(20% 40% at 30% 65%, #cbc0ff 0%, transparent),
    radial-gradient(30% 40% at 55% 65%, #ecdb79 0%, transparent);
}

.container {
  padding: 40px;
}
.display {
  font-family: "Tobias";
  font-weight: 200;
}

.logo {
  max-width: 40px;
  margin: 40px;
}

.space {
  display: flex;
  max-width: 1440px;
  margin-right: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-item {
  margin: 20px;
}

.splash {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
/* Animate-in */

#name,
#city,
#objective,
#results-2 {
  opacity: 0;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
  animation-fill-mode: forwards;
}

#city {
  animation-delay: 300ms;
}
#objective {
  animation-delay: 600ms;
}
#results-2 {
  animation-delay: 1000ms;
}

#role,
#summary,
#results-1 {
  opacity: 0;
  -webkit-animation: fadein 1200ms; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1200ms; /* Firefox < 16 */
  -ms-animation: fadein 1200ms; /* Internet Explorer */
  -o-animation: fadein 1200ms; /* Opera < 12.1 */
  animation: fadein 1200ms;
  animation-delay: 1200ms;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive media queries */

@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 32px;
    margin: 10px;
  }
  .logo {
    width: 20px;
    margin: 20px;
  }
  .container {
    padding: 20px;
  }
  .top {
    background: radial-gradient(35% 35% at 40% 40%, #a4bbde 0%, transparent),
      radial-gradient(30% 20% at 40% 65%, #cbc0ff 0%, transparent),
      radial-gradient(30% 20% at 60% 50%, #ecdb79 0%, transparent);
  }
}

@media (max-width: 400px) {
  .top {
    background: radial-gradient(80% 60% at 50% 20%, #a4bbde 0%, transparent),
      radial-gradient(80% 60% at 30% 65%, #cbc0ff 0%, transparent),
      radial-gradient(80% 65% at 75% 75%, #ecdb79 0%, transparent);
  }
}
